version: "3.8"
services:
  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8080:8080"
    environment:
      SWAGGER_JSON: /spec/openapi.yaml
    volumes:
      - ../../openapi.yaml:/spec/openapi.yaml:ro
    restart: unless-stopped
