
services:
  api_gateway:
    build: ./api_gateway
    env_file: .env
    ports:
      - "${PORT_GATEWAY:-3000}:3000"
    depends_on:
      - service_users
      - service_orders

  service_users:
    build:
      context: .
      dockerfile: ./service_users/Dockerfile
    env_file: .env
    volumes:
      - ./openapi.yaml:/app/openapi.yaml:ro
    ports:
      - "4001:4001"

  service_orders:
    build: ./service_orders
    env_file: .env
    ports:
      - "4002:4002"
