
services:
  api_gateway:
    build: ./api_gateway
    env_file: .env
    ports:
      - "${PORT_GATEWAY:-3000}:3000"
    depends_on:
      - service_users
      - service_orders

  service_users:
    build: ./service_users
    env_file: .env
    expose:
      - "4001"

  service_orders:
    build: ./service_orders
    env_file: .env
    expose:
      - "4002"
